
main{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.form-control{
    
}

.form-control label,.form-control input{
    display: block;

}

.form-control input{
    border: 1px solid;
    margin: 5px 0px;
    border-radius: 2px;
}

button{
    border: 1px solid white;
    background-color: orange;
    color: rgba(0, 0, 255, 0.500);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}