extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/card.css")

block content
    main 
        if prod.length==0
            h1 No products...
        else
            each product in prod
                .card
                    .card-img
                        img(src="https://cdn3d.iconscout.com/3d/premium/thumb/product-5806313-4863042.png", alt="product" width="100%" height="100%")
                    .card-info
                        p.text-title #{product.title}
                        p.text-body Fun Product!!!
                    .card-footer
                        span.text-title $499.49